# Ignore node_modules (dependencies will be installed in the container)
node_modules

# Ignore build output (it will be generated in the container)
dist

# Ignore local environment files
.env
.env.local

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore editor and system files
.vscode
.DS_Store
Thumbs.db